<dr-scroll-area>
  <div class="side-bar">
    <dr-vertical-menu [selectedDrive]="$selectedDrive.getValue()" [opened]="this.menuOpened" [mode]="menuMode"></dr-vertical-menu>

    <div [ngStyle]="{'flex-direction': direction}">
      <ng-container *ngFor="let drives of drives | async | keyValue">
        <ng-container *ngFor="let drive of drives.value">
          <div class="drive-block" (click)="selectDrive(drive)" [ngStyle]="{'background-color': '#'+drive.color}" >
            {{drive.name}}
          </div>
        </ng-container>
      </ng-container>

      <div class="drive-block">
        <a href="#" routerLink="/connections">
          <img src="/assets/icons/plus.svg">
        </a>
      </div>
      <div class="drive-block" (click)="switchCommonMenu()">
        <img src="/assets/icons/menu.svg">
      </div>
    </div>
  </div>
</dr-scroll-area>
