:root {
  --color-common-background: #E4E0DD;
  --color-brown: #40333C;
  --color-common: #F2EEEC;
  --color-base-blue: #7BC8DC;
  --color-dynamic: var(--color-base-blue);
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-common-background);
  height: 100vh !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
